* {
  box-sizing: border-box;
}
html,
body,
#__next {
  width: 100%;
  padding: 0;
  margin: 0;
  /* height: 100%; */
  overscroll-behavior-y: contain;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

* :hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

* ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

* :hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.1);
  }

  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.5);
  }
  *::-webkit-scrollbar-track {
    background-color: rgba(192, 192, 192, 0);
  }

  *:hover::-webkit-scrollbar-track {
    background-color: rgba(192, 192, 192, 0.1);
  }
}
.ant-collapse-content-box {
  padding: 8px 0 !important;
}
.ant-collapse-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
  font-weight: 600;
}
h1 {
  font-size: 2em;
  line-height: 1.2105263157894737;
}
h2 {
  font-size: 1.8em;
  line-height: 1.2666666666666666;
}
h3 {
  font-size: 1.5em;
  line-height: 1.3333333333333333;
}
h4 {
  font-size: 1.25;
  line-height: 1.4;
}
h5 {
  font-size: 16px;
  line-height: 1.5;
}
