.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
}

.loading .loadingBar {
  width: 20px;
  height: 4px;
  margin: 0 15px;
  animation: loading 2.5s ease-in-out infinite;
}

.loading .loadingBar:nth-child(1) {
  animation-delay: 0s;
}

.loading .loadingBar:nth-child(2) {
  animation-delay: 0.2s;
}

.loading .loadingBar:nth-child(3) {
  animation-delay: 0.4s;
}

.loading .loadingBar:nth-child(4) {
  animation-delay: 0.6s;
}

.loading .loadingBar:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes loading {
  0% {
    transform: translate(0px);
  }
  20% {
    transform: translate(50px);
  }
  50% {
    transform: translate(0px);
  }
}

.nav_item:hover {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #ccc5;
}
.message_box {
  position: relative;
}
.message_box .message_extend_but {
  display: none;
  position: absolute;
  width: 100%;
  top: calc(100% - 11px);
  left: 0;
}
.message_box .message_extend_but > div > span {
  z-index: 1;
}
.message_box:hover .message_extend_but {
  display: block;
}
.message_box_hiddel_tool .item_utils {
  /* display: none !important; */
  opacity: 0;
}
.message_box_hiddel_tool:hover .item_utils {
  /* display: flex !important; */
  opacity: 0.7;
}
.message_box_hiddel_tool .label_right_top::before {
  content: "";
  border-width: 8px;
  width: 0;
  height: 0;
  border-style: dotted;
  border-color: #8888;
  border-left-color: #0000;
  border-bottom-color: #0000;
  position: absolute;
  right: 0;
  top: 0;
}
.message_box_hiddel_tool .label_left_top::before {
  content: "";
  border-width: 8px;
  width: 0;
  height: 0;
  border-style: dotted;
  border-color: #8888;
  border-right-color: #0000;
  border-bottom-color: #0000;
  position: absolute;
  left: 0;
  top: 0;
}
.roll_button {
  height: 90px;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: calc(100% + 60px);
  right: -10px;
  opacity: 0.5;
  padding-right: 10px;
}
.roll_button > button {
  display: none;
}
.roll_button:hover button {
  display: block;
}
.roll_button:hover > span:last-child {
  display: none;
}
/* 屏幕宽度小于 1300px */
@media (max-width: 1299px) {
  /* 在这里添加适用于大屏幕的样式 */
  .message_item {
    width: calc(100vw - 400px);
  }
}
/* 屏幕宽度小于 1200px */
@media (max-width: 1199px) {
  /* 在这里添加适用于中等屏幕的样式 */
  .message_item {
    width: 900px;
  }
}
/* 屏幕宽度小于 1000px */
@media (max-width: 999px) {
  /* 在这里添加适用于小屏幕的样式 */
  .message_item {
    /* width: calc(100vw - 100px); */
    width: 100%;
  }
}
/* 屏幕宽度小于 1300px */
@media (min-width: 1299px) {
  /* 在这里添加适用于大屏幕的样式 */
  .message_item {
    width: 900px;
  }
}
