.markdown em {
  opacity: 0.8;
}
.markdown img {
  width: 100%;
}
.markdown {
  line-height: 1.4;
}
.markdown p {
  white-space: pre-wrap;
}
.markdown table th,
.markdown table td,
.markdown table tr {
  white-space: nowrap;
  width: fit-content;
}
.markdown table th,
.markdown table td {
  padding: 2px 3px;
}
