* {
  box-sizing: border-box;
}
html,
body,
#__next {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  overscroll-behavior-y: contain;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

* :hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

* ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

* :hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.1);
  }

  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.5);
  }
  *::-webkit-scrollbar-track {
    background-color: rgba(192, 192, 192, 0);
  }

  *:hover::-webkit-scrollbar-track {
    background-color: rgba(192, 192, 192, 0.1);
  }
}
