.main,
.main input,
.main .textdeitor {
  font-size: 16px;
  line-height: 1.3;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main form {
  display: flex;
  width: 100%;
  padding: 0 10px 20px;
  box-sizing: border-box;
  align-items: flex-end;
}
.main .textdeitor {
  padding: 5px 10px;
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 12px 10px 10px 12px;
  outline-color: rgb(var(--foreground-rgb));
  min-height: 79px;
  max-height: 50vh;
  margin-right: 5px;
  flex: auto;
}
.main .textdeitor:focus-visible{
  border-width: 1px;
  outline:none;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main button {
  color: rgb(var(--foreground-rgb));
  background-color: field;
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius:8px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 42px;
}
.content {
  flex: auto;
  overflow: auto;
  padding: 10px;
  overscroll-behavior-y: contain;
}
.content > div {
  border-bottom: 1px solid rgb(var(--callout-border-rgb));
}
.content > div:nth-child(odd) {
  background-color: rgba(var(--background-start-rgb), 1);
}
.header {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #555;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
}

.loading .loadingBar {
  width: 20px;
  height: 4px;
  margin: 0 15px;
  background-color: var(--color3);
  animation: loading 2.5s ease-in-out infinite;
}

.loading .loadingBar:nth-child(1) {
  animation-delay: 0s;
}

.loading .loadingBar:nth-child(2) {
  animation-delay: 0.2s;
}

.loading .loadingBar:nth-child(3) {
  animation-delay: 0.4s;
}

.loading .loadingBar:nth-child(4) {
  animation-delay: 0.6s;
}

.loading .loadingBar:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes loading {
  0% {
    transform: translate(0px);
  }
  20% {
    transform: translate(50px);
  }
  50% {
    transform: translate(0px);
  }
}

.message {
  display: flex;
}
.message .message__header {
  display: flex;
}
.message .message__footer {
  display: flex;
  align-items: flex-end;
  opacity:.5;
}
.message .message__footer .message__nickname{
  font-size: 14px;
}
.message .message__footer .message__timestamp{
  font-size: 12px;
}